<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Hello from insert</h1>

  <form action="/addStudent" method="post">
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="name" value=""><br>
    <label for="hc">Hair color:</label><br>
    <input type="text" id="hc" name="hc" value=""><br><br>
    <label for="wt">Weight:</label><br>
    <input type="text" id="wt" name="wt" value=""><br><br>
    <label for="ht">Height:</label><br>
    <input type="text" id="ht" name="ht" value=""><br><br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>